body {
  background: white;
  display: grid;
  place-items: center;
}

form {
  display: grid;
  place-items: center;
  width: 100%;
}

#title, #note {
  width: 90%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  padding: 10px 10px;
  outline: none;
}

#title {
  margin-top: 5%;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}

#note {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
  border: 2px solid black;
  resize: none;
}

@media only screen and (max-width: 500px) {
  #title {
    margin-top: 10%;
  }
  #note {
    margin-top: 15%;
  }
}

#btn {
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
  font-family: 'Lexend', sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: red;
  border: none;
  outline: none;
}
